
@font-face
    font-family: 'Noto Serif Hebrew'
    font-style: normal
    font-weight: 400
    src: url(@/assets/fonts/noto_serif_hebrew.woff2) format('woff2')
    unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F


html
    // Place on html so iOS overscroll etc won't show white bg
    background-image: url(@/assets/background.svg)
    height: 100%  // Else bg image doesn't show
    overflow: hidden !important  // Override Vuetify
    // NOTE Noto Serif Hebrew doesn't contain non-Hebrew chars, so will only apply to Hebrew chars
    font-family: 'Noto Serif Hebrew', Roboto, sans-serif !important

body
    height: 100%

#app
    height: 100%
    display: flex
    flex-direction: column  // Prevents margin (on wide screens) from pushing beyond viewport


// Make chapter headings invisible rather than not present, so doesn't mess up navigation
// WARN Changing this can break chapter navigation
.fetch-bible.no-chapters h3[data-c]
    display: block !important
    visibility: hidden


// Make verse numbers buttons
.fetch-bible sup[data-v]
    background-color: #8884
    display: inline-flex
    justify-content: center
    align-items: center
    vertical-align: middle
    position: static
    border-radius: 50%
    padding: 0 !important
    margin-right: 0.3em
    width: 2em
    height: 2em
    cursor: pointer

    &:hover
        background-color: rgb(var(--v-theme-primary))


.fetch-bible .fb-attribution
    margin-top: 80px !important
    opacity: 0.5
    text-align: center
    a
        color: inherit
        text-decoration: none
        &:hover
            text-decoration: underline
